<h1>Welcome to MessageMe, a complete Chat App</h1>
<h2>Please log in to continue</h2>
<div id="session-box">
    <div id="login">
        <h3>Login</h3>
        <p style="text-align: center;">If you already have an account, please log in</p>
        
        <%= form_for(:session, url: login_path, id:"loginform") do |f| %>
            <%= f.label :username %><br>
            <%= f.text_field :username %><br><br>
            <%= f.label :password %><br>
            <%= f.password_field :password %><br><br>
            <%= f.submit "Log in", class: "button" %>
       <% end %>
    </div>
    <div id="signup">
        <h3>Sign up</h3>
        <p style="text-align: center;">If you don't yet have an account, click the button to sign up.</p>
        <button id="signup" class="button">Sign up</button>
    </div>
</div>